body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: rgb(82, 114, 99);
}

.header {
    background: rgba(148, 151, 151, 0.863);
    font-weight: bold;
    padding: 0.3em 0.3em;
    font-size: 1.2em;
    border-radius: .5em;
    margin-top: .5em;
    text-align: center;
    cursor: pointer;
}

.login {
    background-color: rgb(203, 204, 204);
    padding: 1em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}

.content {
    background-color: white;
    padding: 0.05em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}

.error {
    background-color: rgb(228, 137, 137);
    padding: 0.1em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}

.message {
    background-color: rgba(255, 255, 255, 0.726);
    padding: 0.05em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}

.singlemessage{
    font-size: larger;
    font-style: oblique;
}

a {
    text-decoration: none;
    color: #000;
    background-color: rgb(147, 179, 163);
    padding: 0.35em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}