body {
    margin: auto;
    max-width: 45em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("https://images.pexels.com/photos/7130482/pexels-photo-7130482.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #cccccc;
}

.header {
    background: rgba(94, 121, 185, 0.644);
    font-weight: bold;
    padding: 0.3em 0.3em;
    font-size: 1.4em;
    border-radius: .5em;
    margin-top: .5em;
    text-align: center;
    cursor: pointer;
}

.login {
    background-color: rgb(215, 217, 218);
    padding: 1em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}

.content {
    background-color: white;
    padding: 0.05em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}

.error {
    background-color: rgb(228, 137, 137);
    padding: 0.1em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}

.message {
    background-color: rgba(255, 255, 255, 0.726);
    padding: 0.05em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}

.singlemessage{
    font-size: larger;
    font-style: oblique;
}

a {
    text-decoration: none;
    color: #000;
    background-color: rgb(182, 195, 224);
    padding: 0.35em 0.5em;
    border-radius: .5em;
    margin-top: .5em;
}