{% extends "layout.html" %}
{% block title %}Keskusteluketjut{% endblock %}
{% block content %}

<div class="login">
    {% if session.user_id %}
    Olet kirjautunut sisään nimellä <em>{{ session.username }}</em>. <a href="/">Palaa etusivulle</a> <a href="/logout">Kirjaudu ulos</a>
        
    {% else %}
    Kirjaudu sisään osallistuaksesi keskusteluun.
    <p>
    <a href="/login">Kirjaudu sisään</a> <a href="/">Palaa etusivulle</a>
    {% endif %}
</div>

<div class="content">
    <h2>{{ subject }}</h2>
    <p>
    Viestejä ketjussa: {{ count }}

    <p>
    Aloitusviesti: 
    <div class="singlemessage">
        {{ first_message }}
        <p>
    </div>
</div>

<div class="content">
    {% if session.user_id %}
    <form action="/send" method="POST">
        <h4>Lisää uusi viesti</h4>
        <textarea name="content" rows="3" cols="40"></textarea>
        <input type="hidden" name="chain_id" value="{{ id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <p>
        <input type="submit" value="Lähetä">
    </form>
    {% endif %}
</div>

{% if messages %}
{% for message in messages %}
    <div class="message">
        <p>
        <div class="singlemessage">
            {{ message[0] }}
        </div>
        <p>
        Lähettäjä: {{ message[1] }} <br>
        Lähetetty: {{ message[2] }}
        <p>
    </div>
{% endfor %}

{% else %}
    <div class="message">
        <p>
        <div class="singlemessage">
            Ketjussa ei ole vielä viestejä - kirjoita ensimmäinen!
        </div>
        <p>
    </div>

{% endif %}

{% endblock %}