<h2>{{ subject }}</h2>

<p>
Aloitusviesti: {{ first_message }}
<p>
Viestejä ketjussa: {{ count }}
<hr>

{% for message in messages %}
<i>{{ message[0] }}</i>
<p>
Lähettäjä: {{ message[1] }} | Lähetetty: {{ message[2] }}
<p>
<hr>
{% endfor %}

{% if session.user_id %}
<form action="/send" method="POST">
Lisää uusi viesti: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<input type="hidden" name="chain_id" value="{{ id }}">
<p>
<input type="submit" value="Lähetä">
</form>

<p>
<hr>Olet kirjautunut sisään | <a href="/">Palaa etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>

{% else %}
<p>
Kirjaudu sisään, jotta voit osallistua keskusteluun.
<br>
<a href="/login">Kirjaudu sisään</a> | <a href="/">Palaa etusivulle</a>
{% endif %}