{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<body>
    <div class="login">
        {% if session.username %}
        Hei <em>{{ session.username }}</em>! Olet kirjautunut sisään. | <a href="/logout">Kirjaudu ulos</a>
        
        {% else %}
        Et ole kirjautunut sisään. | <a href="/login">Kirjaudu sisään</a>
        {% endif %}
    </div>
   
    <div class="content">
        {% for area in areas %}
        <h3>{{ area[1] }}</h3>
        <p>
        {% for chain in chains %}
        {% for tuple in chain %}
        {% if tuple[0] == area[0] %}
        <p>
        Ketjujen määrä alueella: {{ tuple[1] }} |
        {% for message in messages %}
        {% for tuple in message %}
        {% if tuple[0] == area[0] %}
        Viestien määrä alueella: {{ tuple[1] }}
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endfor %}
        <p>
        <a href="/area/{{ area[0] }}">Siirry alueelle</a>
        <hr>
        {% endfor %}

        <p>
        <a href="/search">Etsi viestejä</a>
        <p>

        Alueita yhteensä: {{ count }}
        <p>
    </div>

    <div class="content">
        {% if session.user_role == 2 %}
        <h4>Ylläpitäjän toiminnot</h4>
        <ul>
            <li><a href="/add">Luo uusi keskustelualue</a></li>
            <li><a href="/remove">Poista keskustelualue</a></li>
        </ul>
        {% endif %} 
    </div>
    
</body>

{% endblock %}