<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChitChat - {% block title %}{% endblock %}</title>
</head>

<div class="header" onclick="location.href='/';">
    <h1>ChitChat</h1>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p>
    {% for message in messages %}
      <p class="flashes">{{ message }}</p>
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}
