{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}

<div class="content">
    <h2>Kirjaudu sisään</h2>

    <form action="/login" method="POST">
        Tunnus: <input type="text" name="username">
        <p>
        Salasana: <input type="password" name="password">
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
        <input id="formbutton" type="submit" value="Kirjaudu">
    </form>

    Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
    <p>
    <a href="/">Palaa takaisin etusivulle</a>
</div>

{% endblock %}